html, body {
  width: auto;
  height: 100%;
  margin: 0;
}
#button-div {
  align-content: center;
  width: auto;
  height: 10%;
  min-height: 22px;
}
#button {
  margin: 0 auto;
}
#map {
  width: auto;
  height: 90%;
}
